:root {
  --primary-color: #79c2ff;
  --secondary-color: #fff;
  --primary-text-color: #737f8a;
  --subheading-color: #afbac4;
  --bg-light: #353b43;
  --bg-dark: #292f36;
  --nav-background: #1d2024;

  /* These are pretty unimportant */
  --footer-social-bg-color: #26292e;
  --footer-social-text-color: #55606a;
  --bg-dark-unused: #242930;
}

.hero-area {
    background-position: center;
}

.service-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.service-item {
  transition: all 0.4s ease 0s;
  transform: scale(.9);
}

.member-photo {
    height: 325px;
    align-content: center;
}
.team-member {
  height: 575px;
}

.service-photo {
  height: 175px;
  align-content: center;
}

.equity-block {
  height: 500px;
}
.institutional-block {
  height: 625px;
}
