.hero-area {
    background-position: center
}

.service-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.service-item {
  transition: all 0.4s ease 0s;
  transform: scale(.9);
}

.member-photo {
    height: 325px;
    align-content: center;
}

.service-photo {
  height: 175px;
  align-content: center;
}

.equity-block {
  height: 500px;
}
.institutional-block {
  height: 625px;
}
