{{ $data := index site.Data site.Language.Lang }}

{{ if $data.leaflet.leaflet.enable }}
{{ with $data.leaflet.leaflet }}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="leaflet" class="section section-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
            {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>

      <div id="map" class="col-lg-12"></div>

    </div>
  </div>
</section>
{{"<!-- /leaflet -->" | safeHTML}}
{{ end }}
{{ end }}
